.Signup {
	padding-top: 15px;
}

.Signup .card {
	border: 1px solid lightgray;
	width: 600px;
	margin: auto;
	margin-bottom: 20px;
	background-color: #F5F5F6;
	border-radius: 5px;
	padding: 0px 50px;
}

.Signup input[type=text] {
	width: 406px;
	height: 30px;
	border-radius: 30px;
	border: 2px solid lightgray;
	padding: 5px 20px;
	color: #000;
	font-weight: 900;
	transition: border 1s ease;
	margin-bottom: 20px;
}

.Signup input[type=text]:focus {
	border-color: #000;
}

.Signup img {
	width: 100px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.Signup .text div {
	margin-top: 4px;
	margin-bottom: 20px;
}

.Signup .text {
	margin-bottom: 24px;
	border-bottom: 1px solid lightgray;
}

.double input {
    width: 150px !important;
}

.double input:first-child {
    width: 180px !important;
	margin-right: 32px;
}

.Signup .submit {
	margin-bottom: 15px;
}

.Signup .submit button {
	padding: 10px 30px;
	margin-left: 68px;
	border-radius: 30px;
	background-color: #0000FF;
	font-weight: 900;
	color: #fff;
	border-color: transparent;
}